@use "../../sass/setting/color" as *;
@use "../../sass/setting/breakpoints" as *;

.receipt {
  width: 90%;
  margin: 0 auto;

  @include tb {
    width: 80%;
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 20rem;
    background-color: $color-brown;
    border-radius: 10px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);

    &-details {
      display: grid;
      gap: 2rem;
      text-align: center;

      @include pc {
        text-align: start;
      }
    }
  }

  & p {
    width: 100%;
    color: $color-brown;
    margin: 2rem 0;
  }
}
