@use "../../../sass/setting/color" as *;

.new {
  width: 100%;
  padding-top: 5rem;

  & h1 {
    text-align: center;
    color: black;
  }

  & .border {
    width: 100%;
    height: 2px;
    border: none;
    background-color: $color-brown;
  }

  & .new-items {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
