@use "../../sass/setting/color" as *;
@use "../../sass/setting/breakpoints" as *;

.checkout {
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 5rem;

  & h1 {
    text-align: center;
    background-color: $color-brown;
  }

  & .no-item {
    height: 80vh;
  }

  &-details {
    max-width: 90%;
    margin: 2rem auto;

    @include tb{
      max-width: 60%;
    }

    & h2 {
      text-align: end;
      margin: 1rem;
      color: $color-brown;
    }
  }

  &-pay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    @include tb{
      flex-direction: row;
      gap: 1rem;
    }

    & button {
      text-decoration: none;
      background-color: #d6c7bf;
      border: none;
      font-size: 1rem;
      color: black;
      width: 12rem;
      height: 2.5rem;
      border-radius: 5px;
      cursor: pointer;

      @include pc{
        width: 12rem;
        height: 3rem;
        font-size: 1.2rem;
      }

      &:hover {
        transition: all 0.3s ease;
        background-color: $color-brown;
      }
    }
  }
}
