@use '../../sass/setting/color' as *;
@use '../../sass/setting/breakpoints' as *;

.orderItem{
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid $color-brown;

  @include tb{
    max-width: 60%;
  }

  &-img{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-brown;

    @include tb{
      width: 10rem;
      height: 10rem;
    }

    @include pc{
      width: 20rem;
      height: 20rem;
    }

    & img{
      height: 100%;
    }
  }

  &-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  &-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    @include pc{
      flex-direction: row;
      gap: 1rem;
    }

    & button{
      background-color: $color-brown;
      border: none;
      color: white;
      width: 8rem;
      height: 2rem;
      border-radius: 5px;
      cursor: pointer;

      @include pc{
        width: 10rem;
        height: 2.5rem;
      }

      &:hover {
        transition: all 0.3s ease;
        background-color: #918883;
      }
    }
  }
}