.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 99;

  &-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
    cursor: pointer;

    & .search-engine{
      position: relative;
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}