@use "../../sass/setting/color" as *;

.footer {
  width: 100%;
  height: 20rem;
  background-color: $color-brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &-section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-list {
    width: 50%;
    margin: 0;
    padding: 0;
  }

  &-list ul {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px;

    & li {
      font-size: 1.1rem;
      list-style: none;

      & a {
        text-decoration: none;
        color: black;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &-icon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-start;
    font-size: 2rem;
    height: 100%;
    width: 30%;

    & .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
        transition: color 0.3s ease;
      }
    }
  }

  & .copyright {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
  }
}
