@use "../../../sass//setting/color" as *;
@use "../../../sass/setting/breakpoints" as *;

.services {
  position: relative;
  width: 100%;
  padding-bottom: 5rem;

  @include pc {
    padding: 5rem 0;
  }

  & h2 {
    position: relative;
    width: 15rem;
    text-align: end;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $color-brown;
    }
  }

  &-icons {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tb {
      width: 60%;
      margin: 5rem auto;
    }

    & .icon {
      width: 5rem;
      height: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      background-color: $color-brown;
      color: black;
      gap: 0.5rem;

      @include tb {
        width: 8rem;
        height: 8rem;
        font-size: 2rem;
      }

      @include pc {
        width: 10rem;
        height: 8rem;
        font-size: 3rem;
      }
    }
  }

  & button {
    position: absolute;
    bottom: 4rem;
    right: 10%;
    color: $color-brown;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;

    & h3 {
      color: black;

      &:hover {
        color: $color-brown;
        transition: color 0.3s ease;
      }
    }
  }
}
