@use "../../../sass/setting/color" as *;
@use "../../../sass/setting/breakpoints" as *;

.best-item {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &-image {
    position: relative;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid $color-brown;

    @include pc{
      width: 20rem;
      height: 20rem;
    }

    & img {
      height: 100%;
    }

    & .stock-label{
      position: absolute;
      left: 0;
      top: 0;
      background-color: $color-brown;
      color: white;
      padding: 1rem;
    }
  }

  &-details {
    width: 80%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  & .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    @include pc{
      flex-direction: row;
      gap: 1rem;
    }

    & button {
      background-color: $color-brown;
      border: none;
      color: white;
      width: 8rem;
      height: 2rem;
      border-radius: 5px;
      cursor: pointer;

      @include pc{
        width: 10rem;
        height: 2.5rem;
      }

      &:hover {
        transition: all 0.3s ease;
        background-color: #918883;
      }
    }
  }
}
